p {
    width: 250px;
    height: 100px;
    width: 200px;
    border: 3px solid #0088dd;
    /* box-shadow: -5px -5px #777777; */
    text-align: center;
    padding: 50px;
    /* margin: 60px; */
    margin-top: 40px;
/* border-radius: 200px; */
/* border-top-left-radius: 50px; */
border-bottom-left-radius: 60px;
}

/* li{
     display: inline; 
    list-style-type: circle;
}
.product{
    display: none;
    visibility: hidden;
} */

ul {
    width: 150px;
    border: 3px solid red;
    /* list-style-type: none; */
    list-style: inside square;

}
li {
    margin: 10px;
}
ul.illuminations {
    list-style-position: outside;
}
ul.season {
    list-style-position: inside;
}

td{
    border: 1px solid #0088dd;
    padding: 20px;
    empty-cells: hide;
}
